@font-face 
  font-family: 'icons';
  src:  url('fonts/icons.eot?c74v0x');
  src:  url('fonts/icons.eot') format('embedded-opentype'),url('fonts/icons.ttf') format('truetype'),url('fonts/icons.woff') format('woff'),url('fonts/icons.svg') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block


.icon 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-balance-black:before 
  content: "\e900"

.icon-balance-white:before 
  content: "\e901"
  color: #fff

.icon-heart-empty-black:before 
  content: "\e902"

.icon-heart-empty-white:before 
  content: "\e903"
  color: #fff

.icon-heart-red:before 
  content: "\e904"
  color: #f22

.icon-location-black:before 
  content: "\e905"

.icon-ok:before 
  content: "\e906"
  color: #fff

.icon-phone-black:before 
  content: "\e907"

.icon-phone-blue:before 
  content: "\e908"

.icon-profile .path1:before 
  content: "\e909"
  color: rgb(255, 255, 255)

.icon-profile .path2:before 
  content: "\e90a"
  margin-left: -0.9658203125em
  color: rgb(6, 85, 160)

.icon-search-white:before 
  content: "\e90b"
  color: #fff

.icon-time-black:before 
  content: "\e90c"

.icon-time-blue:before 
  content: "\e90d"
  color: #0655a0

.icon-trolley-white:before 
  content: "\e90e"
  color: #fff

.icon-vk:before 
  content: "\e90f"
  color: #fff















$navbar-light-color: #FFFF
$color-hover: #063562

*
    font-family: "Open Sans", Roboto, sans-serif
    font-style: normal
a 
    text-decoration: none
    color: #000000  
@media (min-width: 1400px)
    .container
        max-width: 1636px
// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1636px
// )
    
    

        

.header
    min-height: 114px
    .container
        min-height: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__logo
        width: 90px
        display: flex
        flex-direction: column
        margin: 17px 0 11px 14px
    &__wrap
        margin-top: 41px
        display: flex
        align-items: center
    &__search
        position: relative
        margin-right: 45px

        input
            width: 484px
            height: 41px
            padding-left: 22px
            background: rgba(6, 85, 160, 0.08)
            border-radius: 27px
            border: none
            font-weight: 300
            font-size: 14px
            line-height: 20px

            color: #A5A5A5;
        &-icon
            position: absolute
            right: 0
            top: -2px
            width: 46px
            height: 45px
            border-radius: 50%
            background: #0655A0 url(../img/header/search.png) center center no-repeat
    &__social
        display: flex
    span
        display: block
    &__location
        display: flex
        align-items: center
        margin-right: 25px
        &-icon
            margin-right: 10px
            width: 42px
            height: 41px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/location.svg) center center no-repeat
        &-descr
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: #000000
    &__time
        display: flex
        align-items: center
        margin-right: 20px
        &-icon
            margin-right: 8px
            height: 42px
            width: 42px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/time.svg) center center no-repeat
        &-descr
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: #000000
    &__phone
        display: flex
        align-items: center
        &-icon
            margin-right: 12px
            height: 42px
            width: 42px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/phone.svg) center center no-repeat
        &-descr
            span
                &:nth-last-child(1)
                    a
                        font-weight: 400
                        font-size: 14px
                        line-height: 19px
                        color: #0655A0
                        text-decoration: underline dashed #0655A0
                &:nth-last-child(2)
                    a
                        font-weight: 700
                        font-size: 16px
                        color: #000000
    nav
        height: 57px
        background: #0655A0
    .nav
            
        &-link              

            &::after
                content: none
                border: none
            
                width: 10px
                height: 10px

                background: url(../img/header/arrow.svg) center center no-repeat
                position: absolute
                top: 15px
                right: -8px
        

        &-burger
            display: flex
            flex-direction: column
            justify-content: center

                    
            
            &-item
                margin: 0 10px 4px 0
                &:nth-child(1)
                    display: block
                    width: 20px
                    height: 3px
                    background: #0655A0
                &:nth-child(2)
                    display: block
                    width: 18px
                    height: 3px
                    background: #0655A0
                &:nth-child(3)
                    display: block
                    width: 14px
                    height: 3px
                    background: #0655A0
        &-cross
            display: none
            margin-top: 4px
            margin-right: 13px
            width: 16px
            height: 16px
            background: url(../img/header/cross.png) center center no-repeat




        &-btn
            display: flex
            justify-content: center
            width: 184px
            height: 43px
            background: #FFFFFF
            border-radius: 4px
            &:hover
                .nav-burger
                    display: none
                .nav-cross
                    display: block
            
            p
                font-weight: 500
                font-size: 16px
                line-height: 24px

                color: #0655A0
            &::after
                display: none
        
    .nav-item
        position: relative
        margin-right: 10px
        

        &:first-child
            margin-right: 43px
        .nav-link
            font-weight: 600
            font-size: 14px
            line-height: 19px

            color: #FFFFFF
    .dropdown
        margin-right: 23px
        &::after
            content: ""
            border: none
        
            width: 10px
            height: 10px

            background: url(../img/header/arrow.svg) center center no-repeat
            position: absolute
            top: 14px
            right: -8px
        &-menu
            position: relative
            background: #FFFFFF
            border-radius: 0
            border: none
            padding: 13px 14px 17px 17px
            font-weight: 400
            font-size: 13px
            line-height: 27px
            color: #000000
            &::after
                content: ''
                display: block
                width: 0
                height: 0
                border-style: solid;
                border-width: 18px 15px 18px 15px
                border-color: transparent transparent #fff transparent
                position: absolute
                left: 12px
                top: -29px

            a
                padding: 0
                padding-bottom: 4px
        

.navbar
    &-icons
        height: 43px
        min-width: 250px  
        display: flex
        align-items: center
        &_item
            height: 23px
            position: relative
            margin-right: 22px
            &::after
                content: "2"
                position: absolute
                right: -7px
                top: -3px
                font-family: 'Poppins'
                font-style: normal
                font-weight: 700
                font-size: 10px
                line-height: 15px
                background-color: #fff
                color: #0655A0
                width: 16px
                height: 16px
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                

        &__profile
            display: flex
            font-weight: 600
            font-size: 14px
            line-height: 19px
            margin-left: 30px

            color: #FFFFFF
            .descr
                align-self: flex-end
                margin-bottom: 1px
            img
                margin-right: 6px
.main-slider
    margin-top: 19px
    slider_item
        img
            border-radius: 4px
    ul
        width: 20%
        bottom: 20px
        left: 69px
        display: flex
        li
            transition: 0.5s all
            display: block
            height: 9px
            width: 9px
            margin-left: 0
            margin-right: 2px
            button
                transition: 0.5s all
                width: 7px
                height: 7px
                border-radius: 50%
                background: rgba(6, 85, 160, 0.64)
                padding: 0
                &::before
                    content: none
        .slick-active
            width: 49px
            button
                width: 49px
                height: 7px
                background: #0655A0
                border-radius: 17px
                &::before
                    content: none

.discounts, .popular
    padding-left: 50px
    padding-right: 50px
    padding-top: 45px
    h2
        font-weight: 700
        font-size: 28px
        color: #000000
        margin-bottom: 26px
    .nav
        width: 540px
        padding-left: 13px
        border-bottom: 2px solid #F5F5F5
        margin-bottom: 33px
        padding-bottom: 7px

        .active
            color: #000000
            &::after
                content: ''
                position: absolute
                left: -12%
                bottom: -9px
                display: block
                width: 125%
                height: 2px 
                background-color: #0655A0
            
        &-link
            position: relative
            font-weight: 700
            font-size: 14px
            line-height: 19px
            color: #818181
            padding: 0
            margin-right: 54px
            &:last-child
                margin-right: 0
        .view-all
            font-weight: 600
            color: #0655A0

            

            
    &-slider
        .slick
            &-list
                height: 100%
                margin-left: -10px
                margin-right: -10px
            &-track
                display: flex   
                align-items: stretch 
            &-arrow
                &::before
                    content: none
                width: 36px
                height: 48px
                background-image: url(../img/discounts/slider/arrow.png)
                transition: 0.5s all
                &:hover
                    background-image: url(../img/discounts/slider/arrow-hover.png)
            &-prev
                left: -55px
            &-next
                right: -55px
                transform: translateY(-50%) rotate(180deg)
                    
        .card
            margin: 0 10px
            border: 1px solid #DDDDDD 
            border-radius: 0
            padding: 25px 19px 16px 19px 
            position: relative
            height: auto
            display: flex
            justify-content: space-between
            &__img  
                height: 154px
            &__label
                position: absolute
                width: 90px
                height: 33px
                top: 7px
                left: -12px
            &__axe
                background: url(../img/discounts/label-axe.png)
            &__trolley
                width: 107px
                background: url(../img/discounts/label-trolley.png)
            &__like
                width: 107px
                background: url(../img/discounts/label-like.png)
            &__percent
                background: url(../img/discounts/label-percent.png)

            &__heart
                position: absolute
                top: 12px
                right: 8px
            &-body
                min-height: 227px
                padding: 11px 0 0 0 
                display: flex
                flex-direction: column
                justify-content: space-between
              
            &__product-code
                font-weight: 400
                font-size: 12px
                line-height: 16px
                color: #B6B6B6
                margin-bottom: 12px
            &-title
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: #000000
                margin-bottom: 2px
            &__raiting
                // margin-bottom: 22px
            &__old-price
                font-family: 'Poppins'
                font-style: normal
                font-weight: 400
                font-size: 14px
                color: #666666
                text-decoration-line: line-through

                margin-bottom: 0
            &__new-price
                font-family: 'Poppins'
                font-style: normal
                font-weight: 600
                font-size: 18px
                color: #000000
                margin-bottom: 12px
                span
                    font-weight: 400
                    font-size: 12px
                    color: #0655A0
            &__btn-balance
                width: 49px
                height: 37px
                background: #F5F5F5
                border-radius: 4px 
                margin-right: 10px
            &__btn-trolley
                width: 148px
                height: 37px
                background: #0655A0
                border-radius: 4px

                font-weight: 600
                font-size: 14px
                line-height: 19px
                color: #FFFFFF
                &:hover
                    background: $color-hover
                img
                    display: inline

.popular
    padding-top: 51px
    padding-bottom: 59px
    h2
        margin-bottom: 29px
    .nav
        width: 1120px
.choise
    padding-top: 30px
    text-align: center
    width: 100%
    height: 144px
    background: url(../img/choise/bg.jpg) center center no-repeat
    &__btn
        width: 274px
        height: 47px
        background: #FA8530
        border: none
        font-weight: 700
        font-size: 20px
        line-height: 27px
        text-transform: uppercase

        color: #FFFFFF
        margin-bottom: 12px
    p
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: #000000
.cards
    padding: 30px 0 64px 0
    &__item
        width: 400px
        height: 94px
        background: #F5F5F5
        border-radius: 4px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 53px
        padding: 13px 32px 14px 34px
        &:last-child
            margin-right: 0
        .img
            margin-right: 15px
    &__title
        font-weight: 700
        font-size: 16px
        line-height: 14px
        color: #000000
    &__descr
        font-weight: 400
        font-size: 14px
        line-height: 15px
        color: #000000

    .row
        justify-content: center
        
            
.promo
    .container
        display: flex
        justify-content: space-between
        align-items: flex-end
    .wrap__text
        margin-right: 74px
    h1
        font-weight: 700  
        font-size: 30px
        line-height: 35px
        color: #000000
        margin-bottom: 0
    &__subtitle
        font-weight: 700
        font-size: 20px
        color: #000000
        margin-bottom: 27px
    &__descr
        font-weight: 400
        font-size: 14px
        line-height: 22px
        word-spacing: 3px
        color: #000000
        padding-left: 5px
        p
            margin-bottom: 10px
    .cards
        padding-bottom: 48px
        &__item
            margin-top: 22px
            margin-right: 110px
            height: 89px
            padding: 23px 32px 14px 52px
            .img
                margin-right: 25px
            &:last-child
                .img
                    margin-right: 15px

        &__title
            font-weight: 600
            margin-bottom: 4px
.map
    // padding: 46px 0 44px 0
    margin: 46px 0 44px 0
    width: 100%
    height: 321px
    div
        width: 100%
        height: 100%

.footer
    background: #F1F8FF
    padding-top: 24px
    .container
        padding-left: 94px
        display: flex
    &__social
        font-weight: 600
        font-size: 14px
        line-height: 19px
        color: #000000
        margin-right: 129px
    &__logo
        margin-bottom: 19px
    &__time, &__phone
        display: flex
        align-items: flex-start
        margin-bottom: 17px
        width: 200px
        &-descr
            margin-top: -4px
        &-icon
            width: 31px
            display: flex
            justify-content: center
            align-items: center
    &__phone
        &-icon
            margin-right: 8px
            width: 26px
            display: flex
            justify-content: center
            align-items: center
        margin-bottom: 18px
    &__wrap
        div
            display: inline-block
            width: 38px
            height: 38px
    &__vk
        background: url(../img/footer/vk.svg) center center no-repeat, #0655A0
        border-radius: 50%
        margin-right: 9px
    &__ok
        background: url(../img/footer/ok.svg) center center no-repeat, #0655A0
        border-radius: 50%
    &-title
        font-weight: 700
        font-size: 14px
        line-height: 18px
        color: #000000
        margin-bottom: 14px
    &__col
        padding-top: 21px
        // margin-right: 126px
        &:nth-child(2)
            margin-right: 96px
        &:nth-child(3)
            margin-right: 100px
        &:nth-child(4)
            margin-right: 100px
            .footer__col_list
                margin-bottom: 21px
        &_list
            list-style: none
            padding: 0
        &_link
            font-weight: 400
            font-size: 13px
            line-height: 23px
            color: #000000
            margin-bottom: 4px    
            display: block
    &__mailing
        padding-top: 21px
        .footer-title
            margin-bottom: 17px
        .input-email
            padding-left: 17px
            display: block
            width: 417px
            height: 48px
            background: #FFFFFF
            border: 1px solid #EAEAEA
            border-radius: 4px
            font-weight: 300
            font-size: 14px
            line-height: 20px
            color: #A5A5A5
            margin-bottom: 16px
        .input-check_wrap
            display: flex
            align-items: flex-end
            margin-bottom: 22px
        .input-check
            margin-right: 14px
            width: 16px
            height: 16px
            background: #FBFBFB
            border: 1px solid #EAEAEA
            border-radius: 3px
        .check-text
            font-family: 'Exo 2'
            font-style: normal
            font-weight: 400
            font-size: 12px
            line-height: 14px
            letter-spacing: 0.2px
            color: #000000
            span
                font-family: 'Exo 2'
                font-style: normal
                font-weight: 400
                font-size: 12px
                line-height: 14px
                letter-spacing: 0.2px
                text-decoration-line: underline
                color: #000000

        .footer_btn
            width: 242px
            height: 49px
            display: block
            background: #0655A0
            border-radius: 4px
            border: none
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 14px
            line-height: 21px
            color: #FFFFFF
            &:hover
                #063562
    .footer-webstripe
        background: #272727
        margin-top: 67px
        padding-bottom: 19px
        padding-top: 25px
        .container
            display: block
        .wrap
            display: flex
            margin: 0 112px 0 27px
            padding-bottom: 19px
            justify-content: space-between
            align-items: flex-end
            border-bottom: 1px solid #BFBDBD
        
        .payment
            display: flex
            align-items: flex-end
            &-text
                display: inline-block
                font-weight: 700
                font-size: 14px
                line-height: 19px
                color: #FFFFFF
                margin: 0
                margin-right: 70px
        img
            &:nth-child(2)
                margin-right: 27px
            &:nth-child(3)
                margin-right: 30px

                
        .privacy
            font-weight: 400
            font-size: 12px
            line-height: 12px
            text-decoration-line: underline
            color: #FFFFFF
            margin: 0
            padding-bottom: 6px
        .webstripe_logo
            display: block
            text-align: center
            margin-top: 12px

        
@media (max-width: 1510px)
    .footer
        &__social
            margin-right: 70px
        &__mailing
            .input-email
                width: 287px
        &__col
            margin-right: 80px
@media (max-width: 1400px)
    .container
        max-width: 1228px
    .header
        &__search 
            input
                width: 368px
        &__logo
            margin-left: 0
    .discounts, .popular
        .container
            padding-left: 16px
            padding-right: 16px
        .nav-link
            margin-right: 55px
            // padding: 0
    .discounts-slider .card, .popular-slider .card
        padding-left: 16px
        padding-right: 14px
    .discounts-slider .card__img, .popular-slider .card__img
        max-height: 154px
        img
            height: 100%
            width: auto
            margin: 0 auto
    .discounts-slider .card__btn-trolley, .popular-slider .card__btn-trolley
        // width: auto
        width: 182px
    .cards
        &__item
            width: 364px
    .promo
        .container
            flex-direction: column
        &__subtitle
            margin-bottom: 15px
        .wrap__text
            margin-right: 0
            margin-bottom: 30px
        .wrap__cards
            width: 100%
            display: flex
            justify-content: space-between
            .cards__item
                margin: 0
    .footer .container
        padding-left: 21px
        padding-right: 0
        // justify-content: space-between

    .footer__col
        padding-top: 18px
    .footer__social
        margin-right: 54px
    .footer__col
        margin-right: 0
        &:nth-child(2)
            margin-right: 71px     
        &:nth-child(3)
            margin-right: 72px
        &:nth-child(4)
            margin-right: 84px
    .footer__mailing
        padding-top: 18px
    .footer__mailing .check-text
        width: 206px
        span
            display: block
            margin-top: 6px
    .footer__mailing .footer-title
        width: 284px
    .footer__mailing .input-check_wrap
        width: 284px
    .footer__mailing .input-email
        margin-bottom: 19px
    .footer__mailing .input-check_wrap
        align-items: flex-start
    .footer .footer-webstripe .wrap
        margin-left: 0px
        margin-right: 11px
        padding-bottom: 21px
    .footer .footer-webstripe .container
        padding-left: 9px
    .footer .footer-webstripe
        padding-top: 20px
    .footer .footer-webstripe .privacy
        display: none


@media (max-width: 1200px)

    .cards
        .row
            margin: 0 -12px
            width: 100%
            display: flex
            justify-content: space-between
    .cards__item

        margin-right: 0
    .discounts .nav-link, .popular .nav-link 
        margin-right: 36px
    .popular .nav
        width: 1015px




