
$navbar-light-color: #FFFF

*
    font-family: "Open Sans", Roboto, sans-serif
    font-style: normal
a 
    text-decoration: none
    color: #000000  
@media (min-width: 1400px)
    .container
        max-width: 1636px
// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1636px
// )

.header
    min-height: 114px
    .container
        min-height: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__logo
        width: 90px
        display: flex
        flex-direction: column
        margin: 17px 0 11px 14px
    &__wrap
        margin: 41px 0 26px
        display: flex
        align-items: center
    &__search
        position: relative
        margin-right: 45px

        input
            width: 484px
            height: 41px
            padding-left: 22px
            background: rgba(6, 85, 160, 0.08)
            border-radius: 27px
            border: none
            font-weight: 300
            font-size: 14px
            line-height: 20px

            color: #A5A5A5;
        &-icon
            position: absolute
            right: 0
            top: -2px
            width: 46px
            height: 45px
            border-radius: 50%
            background: #0655A0 url(../img/header/search.png) center center no-repeat
    &__social
        display: flex
    span
        display: block
    &__location
        display: flex
        align-items: center
        margin-right: 25px
        &-icon
            margin-right: 10px
            width: 42px
            height: 41px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/location.svg) center center no-repeat
        &-descr
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: #000000
    &__time
        display: flex
        align-items: center
        margin-right: 20px
        &-icon
            margin-right: 8px
            height: 42px
            width: 42px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/time.svg) center center no-repeat
        &-descr
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: #000000
    &__phone
        display: flex
        align-items: center
        &-icon
            margin-right: 12px
            height: 42px
            width: 42px
            border-radius: 50%
            background: #F5F5F5 url(../img/header/phone.svg) center center no-repeat
        &-descr
            span
                &:nth-last-child(1)
                    a
                        font-weight: 400
                        font-size: 14px
                        line-height: 19px
                        color: #0655A0
                        text-decoration: underline dashed #0655A0
                &:nth-last-child(2)
                    a
                        font-weight: 700
                        font-size: 16px
                        color: #000000
    nav
        height: 57px
        background: #0655A0
    .nav
            
        &-link              

            &::after
                content: none
                border: none
            
                width: 10px
                height: 10px

                background: url(../img/header/arrow.svg) center center no-repeat
                position: absolute
                top: 15px
                right: -8px
                    

        &-burger
            display: flex
            flex-direction: column
            justify-content: center
            &:hover
                display: none

                    
            
            &-item
                margin: 0 10px 4px 0
                &:nth-child(1)
                    display: block
                    width: 20px
                    height: 3px
                    background: #0655A0
                &:nth-child(2)
                    display: block
                    width: 18px
                    height: 3px
                    background: #0655A0
                &:nth-child(3)
                    display: block
                    width: 14px
                    height: 3px
                    background: #0655A0
        &-cross
            display: none
            margin-top: 4px
            margin-right: 13px
            width: 16px
            height: 16px
            background: url(../img/header/cross.png) center center no-repeat
            &:hover
                display: block



        &-btn
            display: flex
            justify-content: center
            width: 184px
            height: 43px
            background: #FFFFFF
            border-radius: 4px
            
            p
                font-weight: 500
                font-size: 16px
                line-height: 24px

                color: #0655A0
            &::after
                display: none
    .nav-item
        margin-right: 10px
        &:first-child
            margin-right: 43px
        .nav-link
            font-weight: 600
            font-size: 14px
            line-height: 19px

            color: #FFFFFF
    .dropdown
        margin-right: 23px
        &::after
            content: ""
            border: none
        
            width: 10px
            height: 10px

            background: url(../img/header/arrow.svg) center center no-repeat
            position: absolute
            top: 14px
            right: -8px
        

.navbar
    &-icons
        height: 43px
        min-width: 250px  
        display: flex
        align-items: center
        &_item
            height: 23px
            position: relative
            margin-right: 22px
            &::after
                content: "2"
                position: absolute
                right: -7px
                top: -3px
                font-family: 'Poppins'
                font-style: normal
                font-weight: 700
                font-size: 10px
                line-height: 15px
                background-color: #fff
                color: #0655A0
                width: 16px
                height: 16px
                border-radius: 50%
                text-align: center
                

        &__profile
            display: flex
            font-weight: 600
            font-size: 14px
            line-height: 19px
            margin-left: 30px

            color: #FFFFFF
            .descr
                align-self: flex-end
                margin-bottom: 1px
            img
                margin-right: 6px
.main-slider
    margin-top: 19px
    slider_item
        img
            border-radius: 4px
    ul
        bottom: 20px
        left: 69px
        display: flex
        li
            transition: 0.5s all
            display: block
            height: 9px
            width: 9px
            margin-right: 2px
            button
                transition: 0.5s all
                width: 5px
                height: 5px
                border-radius: 50%
                background: rgba(6, 85, 160, 0.64)
                &::before
                    content: none
        .slick-active
            width: 49px
            button
                width: 49px
                height: 7px
                background: #0655A0
                border-radius: 17px
                &::before
                    content: none

.discounts, .popular
    padding-top: 75px
    h2
        font-weight: 700
        font-size: 28px
        color: #000000
        margin-bottom: 30px
    .nav
        width: 540px
        padding-left: 13px
        border-bottom: 2px solid #F5F5F5
        margin-bottom: 33px
        padding-bottom: 7px

        .active
            color: #000000
            &::after
                content: ''
                position: absolute
                left: -12%
                bottom: -9px
                display: block
                width: 125%
                height: 2px 
                background-color: #0655A0
            
        &-link
            position: relative
            font-weight: 700
            font-size: 14px
            line-height: 19px
            color: #818181
            padding: 0
            margin-right: 54px
            &:last-child
                margin-right: 0
        .view-all
            font-weight: 600
            color: #0655A0

            

            
    &-slider
        height: 422px
        .slick
            &-list
                height: 100%
                margin-left: -10px
                margin-right: -10px
            &-track
                height: 100% 
                display: flex   
                align-items: stretch 
            &-arrow
                &::before
                    content: none
                width: 36px
                height: 48px
                background-image: url(../img/discounts/slider/arrow.png)
                transition: 0.5s all
                &:hover
                    background-image: url(../img/discounts/slider/arrow-hover.png)
            &-prev
                left: -55px
            &-next
                right: -55px
                transform: translateY(-50%) rotate(180deg)
                    
        .card
            align-self: stretch
            margin: 0 10px
            border: 1px solid #DDDDDD 
            border-radius: 0
            padding: 25px 19px 16px 19px 
            position: relative
            &__img  
                height: 154px
            &__label
                position: absolute
                width: 90px
                height: 33px
                top: 7px
                left: -12px
            &__axe
                background: url(../img/discounts/label-axe.png)
            &__trolley
                width: 107px
                background: url(../img/discounts/label-trolley.png)
            &__like
                width: 107px
                background: url(../img/discounts/label-like.png)
            &__percent
                background: url(../img/discounts/label-percent.png)

            &__heart
                position: absolute
                top: 12px
                right: 8px
            &-body
                min-height: 227px
                padding: 11px 0 0 0 
                display: flex
                flex-direction: column
                justify-content: space-between
              
            &__product-code
                font-weight: 400
                font-size: 12px
                line-height: 16px
                color: #B6B6B6
                margin-bottom: 10px
            &-title
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: #000000
                margin-bottom: 2px
            &__raiting
                // margin-bottom: 22px
            &__old-price
                font-family: 'Poppins'
                font-style: normal
                font-weight: 400
                font-size: 14px
                color: #666666
                text-decoration-line: line-through

                margin-bottom: 0
            &__new-price
                font-family: 'Poppins'
                font-style: normal
                font-weight: 600
                font-size: 18px
                color: #000000
                margin-bottom: 9px
                span
                    font-weight: 400
                    font-size: 12px
                    color: #0655A0
            &__btn-balance
                width: 49px
                height: 37px
                background: #F5F5F5
                border-radius: 4px 
                margin-right: 10px
            &__btn-trolley
                width: 148px
                height: 37px
                background: #0655A0
                border-radius: 4px

                font-weight: 600
                font-size: 14px
                line-height: 19px
                color: #FFFFFF
                img
                    display: inline

.popular
    padding: 51px 0 59px 0
    .nav
        width: 1120px
.choise
    padding-top: 30px
    text-align: center
    width: 100%
    height: 144px
    background: url(../img/choise/bg.jpg) center center no-repeat
    &__btn
        width: 274px
        height: 47px
        background: #FA8530
        border: none
        font-weight: 700
        font-size: 20px
        line-height: 27px
        text-transform: uppercase

        color: #FFFFFF
        margin-bottom: 12px
    p
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: #000000
.cards
    padding: 30px 0 60px 0
    &__item
        width: 400px
        height: 94px
        background: #F5F5F5
        border-radius: 4px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 53px
        img
            margin-right: 15px
    &__title
        font-weight: 700
        font-size: 16px
        color: #000000
    &__descr
        font-weight: 400
        font-size: 14px
        color: #000000

    .row
        justify-content: center
        
            


        




